*{
  padding: 0;
  margin: 0;
  font-family: "Raleway",sans-serif;
}
#scroll{
  position: fixed;
  display: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2em;
  background: #4e4e4e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  right: 15px;
  bottom: 15px;
}
#scroll::after{
  content: "";
  position: absolute;
  bottom: 0;top: 26px;
  left: 24px;right: 0;
  transform: rotate(45deg);
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  width: 10px;
  height: 10px;
}
#scroll:hover{
  background: #bf0d19;
  color: #fff;
  transition: all 0.8s;
}
.topBlock{
  background: black;
  color: white;
  display: grid;
}
.topBlockContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-self: end;
  width: 17%;
  height: 45px;
  margin-right: 10px;
}
.topBlockContainer span{
  align-self: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}
.topBlockContainer span:hover{
  text-decoration: underline;
}
.topBlockContainer img{
  width: 20px;
  align-self: center;
}
/* start block header */
.header{
  display: grid;
  grid-template-columns: 3fr 5fr;
  height: 90px;
}
.header .logo{
  align-self: center;
  margin-left: 35px;
}
.header .logo img{
  cursor: pointer;
}
.header .headerMenu{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-self: center;
  justify-self: start;
  grid-gap: 3px;
  margin-left: -43px;
  color: #636363;
}
.header .headerMenu span{
  font-size: 15.2px;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  letter-spacing: 0.3px;
}
.headerMenu .home{
  cursor: pointer;
  padding: 25px 31px;
  background: #bf0d19;
  justify-self: end;
  color: white;
}
.headerMenu .teamOrder{
  cursor: pointer;
  padding: 25px 34px;
  justify-self: end;
}
.headerMenu .roster{
  cursor: pointer;
  padding: 25px 35px;
  justify-self: start;
}
.headerMenu .roster:hover{
  background: #bf0d19;
  transition: 0.7s linear;
  color: white;
}
.headerMenu .teamOrder:hover{
  color: white;
  transition: 0.7s linear;
  background: #bf0d19;
}
.dropMenu{
  display: none;
}

/* start under menu */
.underHeadMenu{
  height: 40px;
  box-shadow: 0px -2px 0px 0px #c0c0c0;;
  margin-top: -1px;
  background: #f3f3f3;
  height: 45px;
  display: grid;
}
.underHeadMenu .slides{
  display: grid;
  font-size: 1.15em;
  text-align: center;
  margin-top: 10px;
}
.underHeadMenu .slides .showed{
  opacity: 1;
  width: 100%;
  position: absolute;
  transition: all 0.9s linear;
}
.underHeadMenu .slides span{
  opacity: 0;
}
.underHeadMenu .buttonsForClick{
  position: absolute;
  z-index: 99;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-self: center;
  color: #a9a9a9;
  margin-top: 5px;
}
.underHeadMenu .buttonsForClick .next{
  font-size: 1.3em;
  justify-self: center;
  cursor: pointer;
}
.underHeadMenu .buttonsForClick .back{
  font-size: 1.3em;
  justify-self: center;
  cursor: pointer;
}
.underHeadMenu .buttonsForClick .next:hover{
  color: #000;
  transition: 0.9s ease;
}
.underHeadMenu .buttonsForClick .back:hover{
  color: #000;
  transition: 0.9s ease;
}
.underHeadMenu .buttonsForClick .wall{
  font-size: 1.9vw;
}
.underHeadMenu .buttonsForClick #nextButton{
  vertical-align: middle;
}
.underHeadMenu .buttonsForClick #backButton{
  vertical-align: middle;
}
/* start top picture section */

.topPicture{
  position: relative;
}
.topPicture .pictureBlock{
  position: relative;
}
.topPicture .pictureBlock .sliders{
  opacity: 1;
}
.topPicture .pictureBlock img{
  opacity: 0;
  width: 100%;
  position: absolute;
  transition: all 0.6s linear;
}
.topPicture .switch{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 12%;
  position: absolute;
  z-index: 1;
  width: 100%;
  color: #f3f3f3;
  user-select: none;
}
.topPicture .switch #prevButton{
  cursor: pointer;
  font-size: 4em;
  margin-left: 20px;
}
.topPicture .switch #incomingButton{
  justify-self: end;
  cursor: pointer;
  right: 0;
  font-size: 4em;
  margin-right: 20px;
}
.topPicture .switch #prevButton:hover{
  color: #bf0d19;
  transition: 0.9s ease;
}
.topPicture .switch #incomingButton:hover{
  color: #bf0d19;
  transition: 0.9s ease;
}
/* start shop block section */
.shopBlock{
  margin: 40% 5% 0 2%;
}
.shopBlock .firstWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
.firstWrapper .blockWithText{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10%;
  text-decoration: underline;
  letter-spacing: 1px;
}
.firstWrapper .bootsBlock img{
  justify-self: center;
  width: 75%;
}
.firstWrapper .bootsBlock img:hover{
  transform: scale(1.1);
  transition: 0.5s ease;
}
.firstWrapper .bootsBlock{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap:  20px;
}
.firstWrapper .bootsBlock span{
  justify-self: center;
  align-self: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}
.firstWrapper .bootsBlock span:hover{
  border-bottom: 2px solid black;
}
.shopBlock .secondWrapper{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
.secondWrapper .blockWithText{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25%;
  text-decoration: underline;
  letter-spacing: 1px;
}
.secondWrapper .dressBlock img{
  justify-self: center;
  width: 75%;
}
.secondWrapper .dressBlock img:hover{
  transform: scale(1.1);
  transition: 0.5s ease;
}
.secondWrapper .dressBlock{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap:  20px;
}
.secondWrapper .dressBlock span{
  justify-self: center;
  align-self: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}
.secondWrapper .dressBlock span:hover{
  border-bottom: 2px solid black;
}
/* start team peak block */
.teamPeakBlock {
  margin-top: 60px;
}
.teamPeakBlock .theRoster{
  text-align: center;
}
.teamPeakBlock .theRoster img{
  width: 100%;
  margin-bottom: 20px;
}
.teamPeakBlock .theRoster span{
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.teamPeakBlock .wrapperForDwightHoward{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
.teamPeakBlock .dwightHoward{
  text-align: center;
}
.teamPeakBlock .dwightHoward img{
  width: 100%;
  margin-bottom: 20px;
}
.teamPeakBlock .dwightHoward span{
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.teamPeakBlock .dh2{
  text-align: center;
}
.teamPeakBlock .dh2 img{
  width: 100%;
  margin-bottom: 20px;
}
.teamPeakBlock .dh2 span{
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.teamPeakBlock .wrapperForTonyParker{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.teamPeakBlock .tonyParker{
  text-align: center;
  margin-top: 20px;
}
.teamPeakBlock .tonyParker img{
  width: 100%;
  margin-bottom: 20px;
}
.teamPeakBlock .tonyParker span{
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.teamPeakBlock .tp4{
  text-align: center;
  margin-top: 20px;
}
.teamPeakBlock .tp4 img{
  width: 100%;
  margin-bottom: 20px;
}
.teamPeakBlock .tp4 span{
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.teamPeakBlock .wrapperForGeorgeHill{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.teamPeakBlock .georgeHill{
  text-align: center;
  margin-top: 20px;
}
.teamPeakBlock .georgeHill img{
  width: 100%;
  margin-bottom: 20px;
}
.teamPeakBlock .georgeHill span{
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.teamPeakBlock .peakMonster{
  text-align: center;
  margin-top: 20px;
}
.teamPeakBlock .peakMonster img{
  width: 100%;
  margin-bottom: 20px;
}
.teamPeakBlock .peakMonster span{
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.teamPeakBlock .peakEssentials{
  text-align: center;
  margin-top: 20px;
}
.teamPeakBlock .peakEssentials img{
  width: 100%;
  margin-bottom: 20px;
}
.teamPeakBlock .peakEssentials span{
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.teamPeakBlock .wrapperForTeamOrders{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.teamPeakBlock .teamOrder{
  text-align: center;
  margin-top: 20px;
}
.teamPeakBlock .teamOrder img{
  width: 100%;
  margin-bottom: 20px;
}
.teamPeakBlock .teamOrder span{
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.teamPeakBlock .media{
  text-align: center;
  margin-top: 20px;
}
.teamPeakBlock .media img{
  width: 100%;
  margin-bottom: 20px;
}
.teamPeakBlock .media span{
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
/* START FOOTER SECTION */
.footer{
  margin-top: 30px;
  background: #222;
}
.footer .topBlock{
  display: grid;
  height: 250px;
  padding-top: 40px;
  margin-right: 7%;
  margin-left: 7%;
  background: #222;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: auto;
}
.footer .topBlock div{
  display: grid;
}
.footer .topBlock div:nth-child(1){
  height: 80%;
}
.footer .topBlock div:nth-child(2){
  height: 80%;
}
.footer .topBlock div:nth-child(3){
  height: 90%;
}
.footer .topBlock div:nth-child(4){
  height: 30%;
}
.footer .topBlock div:nth-child(5){
  display: grid;
  height: 70%;
}
.footer .title{
  font-size: 17px;
  text-transform: uppercase;
  color: #a9a9a9;
  letter-spacing: 0.6px;
  font-weight: bold;
}
.footer .bottomBlock{
  text-align: center;
  padding: 17px;
  margin-top: 20px;
  margin-right: 8%;
  margin-left: 8%;
  height: 40px;
  border-top: 0.5px solid #2f2f2f;
  font-size: 13px;
  cursor: pointer;
}
.footer .bottomBlock span:hover{
  color: #fff;
  font-size: 14px;
  transition: 0.6s ease;
}
.footer .blockMail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .email{
  width: 220px;
  height: 30px;
  padding-left: 5px;
  border: none;
  font-size: 0.8em;
  color: #a9a9a9;
  outline: 0!important;
}
.footer  .sub{
  height: 30px;
  width: 110px;
  border: none;
  font-size: 0.8em;
  background: #4e4e4e;
  color: #fff;
  margin-left: -20px;
  text-transform: uppercase;
  outline: 0!important;
}
.footer .sub:hover{
  background: #bf0d19;
  transition: 0.7s ease;
}
.footer span{
  color: #666;
  font-size: 13px;
}
@media(max-width: 1125px){
  .topBlock .topBlockContainer{
    width: 21%;
  }
  .underHeadMenu .buttonsForClick .next{
    margin-left: 50%;
  }
  .underHeadMenu .buttonsForClick .back{
    margin-right: 50%;
  }
  .shopBlock .firstWrapper .blockWithText {
    grid-column: 1/-1;
    margin-bottom: 50px;
    margin-top: -10px;
  }
  .shopBlock .firstWrapper .dressBlock{
    grid-gap: 15px;
  }
  .shopBlock .secondWrapper .blockWithText {
    grid-column: 1/-1;
    margin-bottom: 50px;
    margin-top: -10px;
  }
  .shopBlock .secondWrapper .dressBlock{
    grid-gap: 15px;
  }
  .footer .topBlock{
    height: 350px;
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }
  .footer .topBlock div:nth-child(1){
    grid-row: 1;
    grid-column: 1/-1;
  }
  .footer .topBlock div:nth-child(2){
    height: 100%;
  }
  .footer .topBlock div:nth-child(3){
    height: 100%;
  }
  .footer .topBlock div:nth-child(4){
    height: 40%;
  }
  .footer .topBlock div:nth-child(5){
    display: grid;
    height: 70%;
    padding-right: 10%;
  }
  .footer .botLogo{
    justify-self: center;
    align-self: center;
    margin-top: -20px;
  }
}
@media(max-width: 1024px){
  .topBlock .topBlockContainer{
    width: 20%;
    margin-right: 5%;
  }
  .topBlock img{
    display: none;
    width: 40%;
  }
  .header{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .header .logo{
    justify-self: center;
    grid-column: 1/5;
    margin-top: 5px;
  }
  .header .headerMenu{
    display: none;
  }
  .header .dropMenu{
    display: grid;
    width: 100%;
    grid-column: 1/5;
    grid-template-columns: repeat(4,1fr);
    height: 60%;
    align-self: end;
  }
  .header .dropMenu ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    border: 0.1px solid #ccc;
    color: #636363;
    grid-gap: 10px;
    margin-top: -1px;
  }
  .header .dropMenu ul li:first-child{
    justify-self: end;
    font-size: 1.8em;
    font-weight: bold;
  }
  .header .dropMenu ul li:last-child{
    align-self: center;
    margin-top: 2px;
    font-size: 16px;
    justify-self: start;
  }
  .header .dropMenu ul li{
    list-style-type: none;
  }
  .footer .topBlock{
    height: auto;
    grid-template-columns:  repeat(auto-fill, minmax(208px,1fr));
  }
}
@media(max-width: 770px){
  .topBlock{
    display: none;
  }
  .teamPeakBlock .wrapperForDwightHoward{
    grid-template-columns: 1fr;
  }
  .teamPeakBlock .wrapperForTonyParker{
    grid-template-columns: 1fr;
  }
  .teamPeakBlock .wrapperForGeorgeHill{
    grid-template-columns: 1fr;
  }
  .teamPeakBlock .wrapperForTeamOrders{
    grid-template-columns: 1fr;
  }
}
@media(max-width: 730px){
  .underHeadMenu .buttonsForClick .next{
    display: none;
  }
  .underHeadMenu .buttonsForClick .back{
    display: none;
  }
  .underHeadMenu .slides span{
    margin-top: 5px;
    font-size: 0.8em;
  }
  .header .dropMenu div span:first-child{
    font-size: 1.6em;
  }
  .header .dropMenu div span:last-child{
    font-size: 1em;
  }
}
@media (max-width: 680px){
  .footer .blockMail .sub{
    margin-left: -10px;
    width: 80px;
  }
  .footer .blockMail .email{
    width: 170px;
  }
}
@media(max-width: 500px){
  .header .dropMenu div{
    grid-template-columns:  1fr;
  }
  .header .dropMenu div span:first-child{
    justify-self: center;
    font-size: 1.5em;
    margin-top: 3px;
    font-weight: bold;
  }
  .header .dropMenu div span:last-child{
    display: none;
  }
  .underHeadMenu .slides span{
    margin-top: 3.5px;
    font-size: 0.8em;
  }
}
